@using Microsoft.ApplicationInsights.AspNetCore
@inject JavaScriptSnippet JavaScriptSnippet
@inject UserManager<ApplicationUser> UserManager
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - OQPYManager</title>

    
    <environment names="Development">
         
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
        <!-- Plugin CSS -->
        <link rel="stylesheet" href="~/css/new-age.css" /> 
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="~/lib/simple-line-icons/css/simple-line-icons.css">
        <link rel="stylesheet" href="~/lib/device-mockups/device-mockups.min.css">

    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"/>
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true"/>
        <link rel="stylesheet" href="~/css/new-age.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="~/lib/simple-line-icons/css/simple-line-icons.css">
        <link rel="stylesheet" href="~/lib/device-mockups/device-mockups.min.css">
    </environment>
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>

<body id="page-top">

<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" asp-controller="Home" asp-action="Index">
                OQPY
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" asp-controller="Home" asp-action="About">About</a>
                </li>   
                <li>
                    <a class="page-scroll" asp-controller="Home" asp-action="Contact">Contact</a>
                </li>
                
                @Html.Partial("_LoginPartial");
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<header>
    @RenderBody()
</header>




<section id="contact" class="contact bg-primary">
    <div class="container">
        <h2>
            We <i class="fa fa-heart"></i> new friends!
        </h2>
        <ul class="list-inline list-social">
            <li class="social-facebook">
                <a href="https://www.facebook.com/oqpy9000/">
                    <i class="fa fa-facebook"></i>
                </a>
            </li>
        </ul>
    </div>
</section>



<footer>
    <div class="container">
        <p> This is still early version of website. </p> 
        <p>&copy; 2017 OQPY. Coding sans MS.</p>
    </div>
</footer>

<environment names="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/new-age.js" asp-append-version="true"></script>
</environment>
<environment names="Staging,Production">

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/new-age.js" asp-append-version="true"></script>
</environment>

@RenderSection("Scripts", false)
</body>
</html>